body {
    cursor: auto;
}


/* Header */

header {
    background-color: #F3e9f1;
}

.logo {
    max-width: 300px;
    height: auto;
}

.lien:hover {
    opacity: 0.8;
}


.arrow {
    transform: translateX(-100%);
    color: #734C6B;
}

.basket {
    transform: translateX(300%);
    color: #734C6B;
}

@media screen and (max-width: 1024px) {
    .basket {
        transform: translateX(100%);
        color: #734C6B;
    }
}

@media screen and (max-width: 450px) {
    .basket {
        transform: translateX(50%);
        margin-bottom: 20px;
        color: #734C6B;
    }
}




/* Section */

/*Page principale */

section {
    background-color: #f2f2f2;
}

.section {
    margin-top: -8px;
}

h3 {
    margin-top: 10px;
}

.carte {
    margin: 20px 0px;
    text-align: center;
}


.price {
    font-weight: bold;
}


.button {
    margin: auto;
    margin: 10px 20px 20px;
}

/* Détail Produit */

#detailProduit {
    margin-top: -8px;
}

.produit {
    max-width: 620px;
    height: auto;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
}


.div {
    text-align: center;
}

.p {
    font-weight: bold;
    font-size: 1.2em;
}

/* Panier */

#Badge {

    text-align: baseline;
    vertical-align: top;
    font-size: 0.4em;
    transform: translateX(20%);
}

ul {
    max-width: 80%;
    margin: auto ;
    text-align: center;
    margin-bottom: 3%;
    transform: translateY(10%);
}

li {
    padding: 30px 0px;
}

.img {
    width: 300px;
}

.clearBasket {
    text-align: center;
    padding: 20px 0px 40px;
    transform: translateY(20%);
}

.emptyCart {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.gif {
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}



/* formulaire prix */

.price-form {
    margin: 40px 0px 0px;
}

.form {
    margin-bottom: 20px;
}


.value-button {
    border: 1px solid #ddd;
    width: 15%;
    height: 40px;
    padding: 8px 0px;
    text-align: center;
    vertical-align: middle;
    background: #eee;
  }

.number {
      max-width: 30%;
      height: 40px;
      text-align: center;
      border: solid 1px #ddd;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  
.decrease {

    border-radius: 8px 0 0 8px;
  }
  
.increase {

    border-radius: 0 8px 8px 0;
  }

  .value-button:hover {
    cursor: pointer;
  }
  


/* Formulaire Adresse */

.formTitle {
    text-align: center;
    font-weight: bold;
    margin: 40px 0px 30px;
}

.formAdresse {
    margin: auto;
}

.payment {
    text-align: center;
    font-weight: bold;
    margin: 40px 0px 20px;
}

.radio {
    margin: 10px;
}

.buy {
    text-align: center;
    padding: 20px 0px 40px;
}

.totalPrice {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}




/* Confirmation */

.confirm {
    text-align: center;
    font-size: 1.2em;
    padding: 40px 0px;
    max-width: 600px;
    margin: auto;
}

.orderNumber {
    font-weight: bold;
}

.imgNyan {
    max-width: 400px;
    border-radius: 40px;
}

.summary {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}


.imgConfirm {
    width: 150px;
}

.texteConfirm {
    font-size: 1em;
}

.totalPriceConfirm {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px 0px 40px;
    margin-bottom: 0px;
}


/* Footer */

footer {
    background-color: #F3e9f1;
}

.div-social {
    margin: auto;
}

.color {
    color: black;
    font-size: 1.5em;
    margin: 20px 0px;
}

.social {
    font-size: 1.4em;
    margin: 20px auto 50px;
    color: #734C6B;

}

